/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/logs
/storage/indices
/storage/app
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea